<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-1">Articles</h1>
      <p class="lead my-3">Retrouvez touts les articles de kosmic</p>
    </div>
  </div>
<div class="cardy">
  <div class="row">
  {% for post in site.posts%}
    <div class="col-3-md">
      <div class="lien">
        <div class="card" style="width: 18rem;">
          <img src="{{ post.image | relative_url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="{{ post.url | relative_url}}" class="titre20"><h5 class="card-title">{{ post.titre}}</h5></a>
            <p class="card-text">{{ post.breve}}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>
